<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.assetsList">{{ 'ASSETS.ASSETS' | translate }} </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{ 'ASSETS.ADD_ASSETS' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>{{ 'ASSETS.ADD_ASSETS' | translate }}</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Asset">{{ 'ASSETS.ASSETS_NAME' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Asset">{{ 'ASSETS.ASSET_ID' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Purchase">{{ 'ASSETS.PURCHASE_DATE' | translate }}  <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="text"  placeholder="" matInput [matDatepicker]="picker">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Purchase">{{ 'ASSETS.PURCHASE_FROM' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Manufacturer">{{ 'ASSETS.MANUFACTURER' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Model">{{ 'ASSETS.MODEL' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Serial">{{ 'ASSETS.SERIAL_NUMBER' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Supplier">{{ 'ASSETS.SUPPLIER' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Condition">{{ 'ASSETS.CONDITION' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Warranty">{{ 'ASSETS.Warranty' | translate }}<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="Value">{{ 'ASSETS.VALUE' | translate }}<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Asset">{{ 'ASSETS.ASSET_USER' | translate }} <span class="login-danger">*</span></label>
                                        
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="{{ 'ASSETS.ASSET_USER' | translate }}">
                                            <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="description">{{ 'ASSETS.DESCRIPTION' | translate }}  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Status">{{ 'ASSETS.STATUS' | translate }} <span class="login-danger">*</span></label>
                                        
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="{{ 'ASSETS.STATUS' | translate }}">
                                            <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">{{ 'ASSETS.SUBMIT' | translate }}</button>
                                        <button type="submit" class="btn btn-primary cancel-form">{{ 'ASSETS.CANCEL' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>