<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.blog">{{ 'BLOG.BLOG_TITLE' | translate }}</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{ 'BLOG.VIEW_BLOG' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-8">
                <div class="blog-view">
                    <article class="blog blog-single-post">
                        <h3 class="blog-title">Eye Care Routine To Get Rid Of Under Eye Circles And Puffiness</h3>
                        <div class="blog-info clearfix">
                            <div class="post-right read-blks"><a href="javascript:void(0);">{{ 'BLOG.READ_MORE_MINUTES' | translate: { minutes: 8 } }}</a></div>
                            <div class="post-left date-blks">
                                <ul>
                                    <li><a href="javascript:void(0);"><i class="feather icon-calendar"></i> <span>05 Jul 2022</span></a></li>
                                    <li><a href="javascript:void(0);"><i class="feather icon-message-square"></i> <span>58</span></a></li>
                                    <li><a href="javascript:void(0);"><i class="feather icon-eye"></i> <span>2.8k</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-image">
                            <a href="javascript:void(0);"><img alt="" src="assets/img/blog/blog-detail.jpg" class="img-fluid"></a>
                        </div>
                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        </div>
                        <div class="blog-share ">
                            <div class="share-blogs d-flex align-items-center">
                                <a href="javascript:;"><img alt="" src="assets/img/icons/social-01.svg"></a>
                                <span class="ms-2">2.8k</span>
                            </div>
                            <ul class="social-share nav">
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-01.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-02.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-03.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-04.svg"></a></li>
                            </ul>
                        </div>
                        <div class="list-add-blogs">
                            <ul class="nav">
                                <li># Ophthalmology</li>
                                <li># Beauty</li>
                                <li># Prevention</li>
                            </ul>
                        </div>
                    </article>
                    <div class="widget author-widget ">
                        <div class="authr-blog-group text-center">
                            <div class="authr-blg-img mb-2">
                                <img class="avatar" alt="" src="assets/img/profiles/avatar-03.jpg">
                            </div>
                            <h2>Markhay smith</h2>
                            <span>Dentist</span>
                            <p> Integer enim neque volutpat ac tincidunt vitae semper quis. Orci sagittis eu volutpat odio facilisis mauris sit. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. </p>
                            <ul class="nav social-blk">
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-01.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-02.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-03.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-04.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget blog-comments clearfix">
                        <h3>{{ 'BLOG.COMMENTS' | translate }}</h3>
                        <ul class="comments-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a [routerLink]="routes.profile"><img class="avatar" alt="" src="assets/img/profiles/avatar-03.jpg"></a>
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-by">
                                            <div class="week-group">
                                                <h5 class="blog-author-name">Diana Bailey</h5>
                                                <span class="week-list">{{ 'BLOG.WEEKS_AGO' | translate: { weeks: 2 } }}</span>
                                            </div>
                                            <span class="float-end">
                                                <span class="blog-reply"><a href="javascript:void(0);"><i class="fa fa-reply"></i> {{ 'BLOG.REPLY' | translate }}</a></span>
                                            </span>
                                        </div>
                                        <p>Integer enim neque volutpat ac tincidunt vitae semper quis. Orci sagittis eu volutpat odio facilisis mauris sit. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. </p>
                                    </div>
                                </div>
                            </li>
                            <!-- Más comentarios aquí -->
                        </ul>
                    </div>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="widget post-widget">
                    <div class="relat-head">
                        <h5>{{ 'BLOG.RELATED_POSTS' | translate }}</h5>
                        <a href="javascript:;">{{ 'BLOG.SHOW_ALL' | translate }}</a>
                    </div>
                    <ul class="latest-posts">
                        <!-- Elementos de publicaciones relacionadas -->
                    </ul>
                </div>
                <div class="widget tags-widget">
                    <div class="relat-head">
                        <h5>{{ 'BLOG.TAGS' | translate }}</h5>
                    </div>
                    <ul class="tags">
                        <li><a href="javascript:void(0);" class="tag"># {{ 'BLOG.TAG' | translate: { tag: 'Endodontics' } }}</a></li>
                        <!-- Más etiquetas aquí -->
                    </ul>
                </div>
                <div class="widget post-widget">
                    <div class="relat-head">
                        <h5>{{ 'BLOG.MOST_READS' | translate }}</h5>
                        <a href="javascript:;">{{ 'BLOG.SHOW_ALL' | translate }}</a>
                    </div>
                    <ul class="latest-posts">
                        <!-- Elementos de publicaciones más leídas -->
                    </ul>
                </div>
                <div class="widget category-widget">
                    <div class="relat-head mb-0">
                        <h5>{{ 'BLOG.CATEGORIES' | translate }}</h5>
                    </div>
                    <ul class="categories">
                        <!-- Elementos de categorías -->
                    </ul>
                </div>
            </aside>
            <div class="col-md-12">
                <div class="widget new-comment clearfix">
                    <h3>{{ 'BLOG.LEAVE_A_COMMENT' | translate }}</h3>
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-6">  
                                <div class="form-group local-forms">
                                    <label for="Name">{{ 'BLOG.NAME' | translate }} <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{ 'BLOG_DETAILS.NAME' | translate }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="form-group local-forms">
                                    <label for="email">{{ 'BLOG.EMAIL' | translate }}<span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{ 'BLOG_DETAILS.EMAIL' | translate }}">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12">
                                <div class="form-group local-forms">
                                    <label for="Comments">{{ 'BLOG.COMMENTS_PLACEHOLDER' | translate }}<span class="login-danger">*</span></label>
                                    <textarea class="form-control" rows="3" cols="30"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="remember-me">
                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> {{ 'BLOG.SAVE_INFO' | translate }}
                                    <input type="checkbox" name="radio" checked>
                                    <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="submit" class="btn btn-primary submit-form me-2">{{ 'BLOG.SUBMIT' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>