<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.invoices">{{ 'INVOICE.ACCOUNTS' | translate }} </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{ 'INVOICE.ADD_INVOICE' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card ">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>{{ 'INVOICE.ADD_INVOICE' | translate }}</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Patient">{{ 'INVOICE.PATIENT_NAME' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="email" >{{ 'INVOICE.EMAIL' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                         <label  for="department">{{ 'INVOICE.DEPARTMENT' | translate }} <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select  Department">
                                            <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Tax">{{ 'INVOICE.TAX' | translate }} <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select  Tax">
                                            <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Invoice">{{ 'INVOICE.INVOICE_DATE' | translate }}  <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="text" matInput [matDatepicker]="picker1" >
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Due">{{ 'INVOICE.DUE_DATE' | translate }} <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="text" matInput [matDatepicker]="picker2" >
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Patient ">{{ 'INVOICE.PATIENT_ADDRESS' | translate }}  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Billing">{{ 'INVOICE.BILLING_ADDRESS' | translate }}  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Payment">{{ 'INVOICE.PAYMENT_METHOD' | translate }} <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Payment Method">
                                            <mat-option *ngFor="let data of selectedList3" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Payment">{{ 'INVOICE.SELECT_PAYMENT_STATUS' | translate }} <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select  Tax">
                                            <mat-option *ngFor="let data of selectedList4" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table border-0 custom-table invoices-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20px">#</th>
                                                    <th class="col-sm-2">{{ 'INVOICE.ITEM' | translate }}</th>
                                                    <th class="col-md-6">{{ 'INVOICE.DESCRIPTION' | translate }}</th>
                                                    <th style="width:100px;">{{ 'INVOICE.UNIT_COST' | translate }}</th>
                                                    <th style="width:80px;">Qty</th>
                                                    <th>{{ 'INVOICE.AMOUNT' | translate }}</th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <input class="form-control" type="text" style="min-width:150px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" style="min-width:150px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" style="width:100px" type="text">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" style="width:80px" type="text">
                                                    </td>
                                                    <td>
                                                        <input class="form-control "  style="width:120px" type="text">
                                                    </td>
                                                    <td><a href="javascript:void(0)" class="text-success font-18 add-table-invoice" title="Add"><i class="fa fa-plus"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>
                                                        <input class="form-control" type="text" style="min-width:150px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" style="min-width:150px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" style="width:100px" type="text">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" style="width:80px" type="text">
                                                    </td>
                                                    <td>
                                                        <input class="form-control "  style="width:120px" type="text">
                                                    </td>
                                                    <td><a href="javascript:void(0)" class="text-success font-18 add-table-invoice" title="Add"><i class="fa fa-plus"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive custom-table invoices-table">
                                        <table class="table border-0 grand-totals">
                                            <tbody>
                                                <tr>
                                                    <td  class="text-end">Total</td>
                                                    <td >
                                                        <input class="form-control text-end" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  class="text-end ">{{ 'INVOICE.TAX' | translate }}</td>
                                                    <td >
                                                        <input class="form-control text-end" type="text">
                                                    </td>
                                                </tr>
                                                <tr class="bold-total">
                                                    <td  class="text-end">
                                                      {{ 'INVOICE.GRAND_TOTAL' | translate }}
                                                    </td>
                                                    <td >
                                                        <input class="form-control text-end" type="text">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label for="other">{{ 'INVOICE.OTHER_INFORMATION' | translate }}  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">{{ 'INVOICE.SUBMIT' | translate }}</button>
                                        <button type="submit" class="btn btn-primary cancel-form">{{ 'INVOICE.CANCEL' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
