<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.patientsList">{{ 'PATIENTS.PATIENTS' | translate }} </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">{{ 'PATIENTS.PATIENTS_PROFILE' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info">
                                    <h4>{{ 'PATIENTS.PATIENTS_PROFILE' | translate }}  <span><a href="javascript:;"><i class="feather icon-more-vertical"></i></a></span></h4>
                                </div>
                                <div class="doctor-profile-head">
                                    <div class="profile-bg-img">
                                        <img  src="assets/img/profile-bg.jpg"  alt="Profile">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box">
                                                <div class="profile-user-img">
                                                    <img  src="assets/img/profile-user-01.jpg"  alt="Profile">
                                                    <div class="form-group doctor-up-files profile-edit-icon mb-0">
                                                        <div class="uplod d-flex">
                                                            <label class="file-upload profile-upbtn mb-0">
                                                                <img  src="assets/img/icons/camera-icon.svg"  alt="Profile"><input type="file">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="names-profiles">
                                                    <h4>Smith Bruklin</h4>
                                                    <h5>{{ 'PATIENTS.ENGINEER' | translate }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="doctor-follows">
                                                    <h5>{{ 'PATIENTS.FOLLOWERS' | translate }}</h5>
                                                    <h4>850</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>{{ 'PATIENTS.FOLLOWING' | translate }}</h5>
                                                    <h4>18K</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>{{ 'PATIENTS.POSTS' | translate }}</h5>
                                                    <h4>250</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-btn-group">
                                                <button type="submit" class="btn btn-info follow-btns">{{ 'PATIENTS.FOLLOW' | translate }}</button>
                                                <button type="submit" class="btn btn-info message-btns">{{ 'PATIENTS.MESSAGE' | translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail ">
                                        <h4 class="mb-3">{{ 'PATIENTS.ABOUT_ME' | translate }}</h4>
                                        <p>Hello I am Smith Bruklin a Gynaecologist in Sanjivni Hospital Surat. I love to work with all my hospital staff and seniour doctors.</p>
                                    </div>
                                    <div class="about-me-list">
                                        <ul class="list-space">
                                            <li>
                                                <h4>{{ 'PATIENTS.GENDER' | translate }}</h4>
                                                <span>{{ 'PATIENTS.MALE' | translate }}</span>
                                            </li>
                                            <li>
                                                <h4>{{ 'PATIENTS.OPERATION_DONE' | translate }}</h4>
                                                <span>30+</span>
                                            </li>
                                            <li>
                                                <h4>{{ 'PATIENTS.DESIGNATION' | translate }}</h4>
                                                <span>{{ 'PATIENTS.ENGINEER' | translate }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail">
                                        <h4>{{ 'PATIENTS.SKILLS' | translate }}</h4>
                                    </div>
                                    <div class="skill-blk">
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>{{ 'PATIENTS.HEART_BEAT' | translate }} </h5>
                                                <p>45%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-operations" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>{{ 'PATIENTS.HAEMOGLOBIN' | translate }}</h5>
                                                <p>85%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-haemoglobin" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>{{ 'PATIENTS.BLOOD_PRESSURE' | translate }} </h5>
                                                <p>65%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-statistics" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>{{ 'PATIENTS.SUGAR' | translate }} </h5>
                                                <p>90%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-visit" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content-set">
                                        <ul class="nav">
                                            <li>
                                                <a [routerLink]="routes.patientProfile" ><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-02.svg" alt=""></span>{{ 'PATIENTS.ABOUT_ME' | translate }}</a>
                                            </li>
                                            <li>
                                                <a [routerLink]="routes.patientSetting" class="active"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-16.svg" alt=""></span>{{ 'PATIENTS.SETTINGS' | translate }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="setting-form-blk">
                                        <form>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-heading">
                                                        <h4>{{ 'PATIENTS.ACCOUNT_SETTING' | translate }}</h4>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label for="Username ">{{ 'PATIENTS.USER_NAME' | translate }} </label>
                                                        <input class="form-control" type="text" value="smith@29" >
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                         <label  for="mobile" >{{ 'PATIENTS.MOBILE' | translate }} </label>
                                                        <input class="form-control" type="text" value="+1 43 456890" >
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label for="email" >{{ 'PATIENTS.EMAIL' | translate }} </label>
                                                        <input class="form-control" type="email" value="smithbruklin@info.com" >
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label for="address">{{ 'PATIENTS.ADDRESS' | translate }}  <span class="login-danger">*</span></label>
                                                        <textarea class="form-control" rows="3" cols="30">101, Elanxa Apartments, 340 N Madison Avenue</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-heading">
                                                    <h4>{{ 'PATIENTS.SECURITY_SETTING' | translate }}</h4>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group local-forms">
                                                    <label for="password" >{{ 'PATIENTS.CURRENT_PASSWORD' | translate }} </label>
                                                    <input class="form-control" type="password" value="12345" >
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group local-forms">
                                                    <label  for="newpassword">{{ 'PATIENTS.NEW_PASSWORD' | translate }} </label>
                                                    <input class="form-control" type="password" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group local-forms">
                                                    <label for="confirmpassword" >{{ 'PATIENTS.CONFIRM_PASSWORD' | translate }} </label>
                                                    <input class="form-control" type="password" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="profile-check-blk form-group">
                                                    <div class="remember-me">
                                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> {{ 'PATIENTS.PROFILE_VISIBILITY_FOR_EVERYONE' | translate }}
                                                        <input type="checkbox" name="radio" checked>
                                                        <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="remember-me">
                                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">{{ 'PATIENTS.NEW_TASK_NOTIFICATIONS' | translate }}
                                                        <input type="checkbox" name="radio" checked>
                                                        <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="remember-me">
                                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> {{ 'PATIENTS.NEW_FRIEND_REQUEST_NOTIFICATIONS' | translate }}
                                                        <input type="checkbox" name="radio">
                                                        <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="doctor-submit">
                                                    <button type="submit" class="btn btn-primary submit-form me-2">{{ 'PATIENTS.SUBMIT' | translate }}</button>
                                                    <button type="submit" class="btn btn-primary cancel-form">{{ 'PATIENTS.CANCEL' | translate }}</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
